html {
	height: 100%;
}
body {
	font-family: Arial;
	background-color: #FFF;
	color: #000;
	margin: 0px;
	height: 100%;
}

#info {
	color: #FFF;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.dragged-items{
	color: #FFF;
	margin: 15px;
	margin-left: 0px;
	padding: 15px;
	background-color: cadetblue;
	border-radius: 10px;
	width: 150px;
	text-align: center;
	cursor: pointer;
}

#td-text{
	color: #000;
	position: absolute;
	padding: 15px;
	background-color: beige;
	border-radius: 10px 10px 0px 10px;
	margin: 20px;
	width: 340px;
}

#add-edit-text{
	color: #FFF;
	margin: 25px;
	text-align: center;
	padding: 10px;
	background-color: darkseagreen;
	width: 150px;
	border-radius: 10px;
	cursor: pointer;
}

#div-container{
	margin: 25px;
	width: 410px;
	height: 730px;;
	border-style: ridge;
	float: left;
}

#info a, .button {
	color: #f00;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.instructions {
	margin: 25px;
}

.instructions p {
	line-height: 25px;
}

.objects {
	margin: 25px;
	margin-top: 0px;
	float: left;
}

#menu {
	margin-top: 25px;
	float: left;
	list-style: none;
	padding: 0;
	text-align: center;
}

#menu button {
	cursor: pointer;
	background-color: darkseagreen;
	border-style: none;
	padding: 10px;
	color: #FFF;
	font-weight: 600;
	margin: 2px;
	border-radius: 5px;
}

#menu-option {
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: darkseagreen;
	border-radius: 5px;
	cursor: pointer;
}